{% extends 'base.html' %}

{% block content %}
<table class="table table-striped" id="tableau">
    
        <thead class="thead-dark">
            <tr>
                <th>ID transfert</th>
                <th>Numero Detenu</th>
                <th>Date Transfert</th>
                <th>Motif</th>
                <th>Destination</th>

            </tr>
        </thead>
        {% for i in data %}
        <tr>
            <td>{{ i.id_transfert  }}</td>
            <td>{{ i.numero_detenu  }}</td>
            <td>{{ i.data_transfert  }}</td>
            <td>{{ i.motif  }}</td>
            <td>{{ i.lieu_destination  }}</td>
        </tr>
         {% endfor %}
    </table>

<div>
  <p>{{ data|length }} transferts au total</p>
</div>




{% endblock %}



