{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row d-flex flex-column justify-content-center">
    <div class="bg-dark text-white d-flex align-self-center justify-content-center col-10 py-3 rounded-3">
      <h1>Administration Prison App</h1>
    </div>
    <div class="d-flex flex-row justify-content-around mt-3">
      <a href="/dossier/action_dossier" class="text-dark text-decoration-none fw-bold d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center bg-dark text-white p-5 rounded-3">
          <img src="{{ url_for('static', filename='img/dossier.png') }}" alt="" width="150" height="150">
          
        </div>
        <div class="d-flex align-self-center"><p>Acceder au dossier </p></div>
      </a>
      <a href="/administrationForm" class="text-dark text-decoration-none fw-bold d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center bg-dark text-white p-5 rounded-3">
          <img src="{{ url_for('static', filename='img/dossier.png') }}" alt="" width="150" height="150">
        </div>
        <div class="d-flex align-self-center"><p>ajouter un dossier </p></div>
      </a>
    </div>
  </div>
</div>
   
{% endblock %}

