{% extends 'base.html' %}

{% block content %}
<div class="row mx-3">
    <h2><b>Connexion</b></h2>
</div>
<div class="d-flex flex-row">
    
    <div class="col-6 d-flex flex-column justify-content-around align-items-start mx-5">
        <form method="post" action="/login/process">       
            
            <div>
                <label for="username">Nom d'utilisateur</label><br>
                <input type="text" name="username" id="username" placeholder="  Veuillez entrer votre username" class="input">
            </div>
            <div>
                <br/><label for="password">Mot de passe</label><br>
                <input type="password" name="password" id="password" placeholder="  Veuillez entrer votre mdp" class="input">
            </div>
            
            <div>
                <br/><input class="btn text-white bg-dark align-items-center fw-bold" type="submit" value="Se connecter">
            </div>
            {% if error %}
            <br/><div class="alert alert-danger">{{ error }}</div>
            {% endif %}
        </form>
    </div>
    
    <div class="col-4"><img src="{{ url_for('static', filename='img/profil.png') }}" alt="" width="320" height="300"></div>
</div>

<div class="col-3 d-flex justify-content-center align-items-center ms-4">
    <p>Accéder à la page <a href="authentification/administration">d'aministration</a></p>
</div>
{% endblock %}