{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row d-flex flex-column justify-content-center">
    <div class="bg-dark text-white d-flex align-self-center justify-content-center col-10 py-3 rounded-3">
      <h1>Gestion des users</h1>
    </div>
    <div class="d-flex flex-row justify-content-around mt-3">
      <a href="/user/ajout_user" class="text-dark text-decoration-none fw-bold d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center bg-dark text-white p-5 rounded-3">
          <img src="{{ url_for('static', filename='img/personnelle.png') }}" alt="" width="150" height="150">
          
        </div>
        <div class="d-flex align-self-center"><p>Ajouter un user</p></div>
      </a>
      <a href="/user/action_user" class="text-dark text-decoration-none fw-bold d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center bg-dark text-white p-5 rounded-3">
          <img src="{{ url_for('static', filename='img/personnelle.png') }}" alt="" width="150" height="150">
        </div>
        <div class="d-flex align-self-center"><p>Accéder aux user</p></div>
      </a>
    </div>
  </div>
</div>
   
{% endblock %}

