{% extends 'base.html' %}

{% block content %}
<form method="POST" action="/visite/ajouter_visite">
    <div class="container-fluid">
        <div class="row mx-3 mb-2">
            <h2><b>Ajout de visiteurs</b></h2>
            
        </div>
       <div class="d-flex flex-row">
                <div class="col-8 d-flex flex-row">
                    <div class="col-6 d-flex flex-column justify-content-between">
                        
                        <div>
                            <label for="id_visiteur">ID visite:</label><br>
                            <input type="number" id="id_visite" name="id_visite" value="{{ form_data['id_visite'] }}">
                        </div>
                        
                        <div>
                            <label for="id_visiteur">ID visiteurs:</label><br>
                            <input type="number" id="id_visiteur" name="id_visiteur" value="{{ form_data['id_visiteur'] }}">
                        </div>

                        <div>
                            <br><label for="lien_detenu">Lien avec le détenu:</label><br>
                            <input type="text" id="lien_detenu" name="lien_detenu">{{ form_data['lien_detenu'] }}</input>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-between">
                        <div>
                            <label for="date">Date de la visite:</label><br>
                            <input type="date" id="date" name="date_visite" value="{{ form_data['date_visite'] }}">
                        </div>
                        <div>
                            <br><label for="nom_visiteur">Nom du visiteur:</label><br>
                            <input type="text" id="nom_visiteur" name="nom_visiteur" value="{{ form_data['nom_visiteur'] }}">
                        </div>
                        <div>
                            <br><label for="numero_detenu">Numéro du detenu:</label><br>
                            <input type="number" id="numero_detenu" name="numero_detenu" value="{{ form_data['numero_detenu'] }}">
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mx-3">
                    <img src="{{ url_for('static', filename='img/visiteur.png') }}" width="250">
                </div>
       </div>
      <div class="container-fluid d-flex flex-row">
        <div class='py-3'><input type="submit" value='Ajouter' class='btn btn-btn text-white bg-dark fw-bold me-5'></div>
        <div class="">
            {% if error %}
            <div class="alert alert-danger mt-2 ms-5">
                {{ error }}
            </div>
            {% endif %}

            {% if message %}
            <div class="alert alert-success mt-2 ms-5">
                {{ message }}
            </div>
            {% endif %}
        </div>
      </div>

    </div>
</form>





{% endblock %}



